body,
html {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  height: 100%;
}
navbar-item {
  color: white !important;
}
.glitch {
  font-size: 200px;
}

.operating-location {
  margin: 50px 0 50px 0;
}

.itembar {
  margin: 0 30px;
  text-decoration: none !important;
  color: white !important;
}

.contact-mess {
  font-size: 60px;
  padding: 190px 200px 50px 50px;
}

.contact {
  padding-top: 16%;
  padding-bottom: 8%;
}

.service-head {
  font-size: 42px;
  padding: 100px 150px;
}

.footer {
  background-color: black !important;
  font-family: "Montserrat", sans-serif;
  color: white;
}
