body,
html {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  height: 100%;
}
i {
  text-decoration: none;
}
navbar-item {
  color: white !important;
}
.glitch {
  margin-top: 10%;
  font-size: 8rem;
  font-weight: 800;
}
.boutique {
  margin-bottom: 5%;
}
.operating-location {
  margin: 50px 0 200px 0;
}

.itembar {
  margin: 0 30px;
  text-decoration: none !important;
  color: white !important;
}

.contact-mess {
  font-size: 48px;
  padding: 190px 200px 10px 50px;
}

.contact {
  padding-top: 10%;
  padding-bottom: 12%;
}

.service-head {
  font-size: 32px;
  padding: 100px 150px 100px 50px;
  margin-bottom: 15%;
}

.service-contact {
  margin: 20% 0;
}
.footer {
  background-color: black !important;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.fa-brands {
  color: white !important;
}

.navbar-end {
  margin-top: 2%;
}
nav {
  background-color: transparent !important;
}

.cont-pg {
  margin-bottom: 40px;
}

.fa-envelope {
  width: 40%;
}

.fa-facebook {
  padding: 0 8px;
}

.fa {
  color: white !important;
}

.service-mobile {
  margin-bottom: 25%;
}

.service-ux {
  margin-bottom: 15%;
}

.ux-head {
  font-size: 32px;
}
.mobile-head {
  font-size: 28px;
  font-weight: 200;
  margin-bottom: 2%;
}

.mobile-text {
  margin-top: 7%;
}
.main-mobile-text {
  font-weight: 800;
  font-size: 28px;
}

.sec-mobile-text {
  font-weight: 200;
  font-size: 18px;
}

.itembar {
  font-weight: 800;
}

@media only screen and (max-width: 600px) {
  .glitch {
    font-size: 4rem;
  }

  .service-head {
    font-size: 1.3rem;
  }

  .contact-mess {
    font-size: 1.3rem;
  }
}
