body,
html {
  background-color: black;
  color: white;
  height: 100%;
}
navbar-item {
  color: white !important;
}
.glitch {
  font-size: 200px;
}

.operating-location {
  margin: 50px 0 50px 0;
}

.itembar {
  margin: 0 30px;
  text-decoration: none !important;
  color: white !important;
}

.contact-mess {
  font-size: 80px;
}

.service-head {
  font-size: 42px;
  padding: 100px 150px;
}
